# livekit server configuration
# see: https://docs.livekit.io/references/server-config/

port: 7880
bind_addresses:
  - ""

rtc:
  udp_port: 7882
  tcp_port: 7881
  use_external_ip: false

logging:
  level: info

keys:
  devkey: devsecret
